.ayuda-incidencia {
	background: #f6f3f3;

	h5 {
		padding-top: 55px;
		text-align: center;
		margin: 0 0 5px 0;
	}

	h4 {
		color: #797475;
		font-size: 24px;
		text-align: center;
		margin: 0 0 25px 0;
	}

	.ayuda-content {
		max-width: 525px;
		margin: 0 auto;
		text-align: center;
		padding: 0 15px;
		@media (min-width: 480px) {
			padding: 0 0;
		}
	}

	form {
		max-width: 290px;
		margin: 0 auto;
		p {
			margin-bottom: 0;
		}

		label {
			font-size: 14px !important;
			padding-left: 32px !important;
			color: black;
			font-weight: 600;
		}
	}

	button {
		text-decoration: none;
		color: white;
		background: #FF5139;
		margin: 25px 0 0 0;
		padding: 10px 30px;
		text-align: center;
		display: inline-block;
		position: relative;
		top: 0px;
		font-size: 21px;
		border-radius: 10px;
		font-weight: 600;
		box-shadow: 0px 5px 0px 0px #9D3121, 0px 0px 20px 0px transparent;
		height: auto;
		@media (min-width: 480px) {
			padding: 15px 39px 14px 39px;
		}

		&:hover {
			background: #FF5139;
			box-shadow: 0px 5px 0px 0px #9D3121, 0px 0px 20px 0px transparent;
		}

		&:active {
			top: 5px  ;
  			box-shadow: 0px 5px 0px 0px #9D3121, 0px 0px 20px 0px transparent;
		}
	}

	.informa-ayuda {
		font-size: 14px;
		color: black;
		font-weight: 600;
		margin: 15px 0 50px 0;
	}
}

[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:not(:checked) + label:after {
	border: 1px solid #cccccc;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid color("red", "base");
    border-bottom: 2px solid color("red", "base");
}