.lista-incidencias {
    margin-top: 65px;
}

.lista-incidencias span.badge.new:after {
    content: "";
}

.report-stats-container {
    padding-top: 30px;
}

#rb_list-view p, .r_description {
    margin-bottom: 10px;
}

.link-toggle li {
    display: inline-block;
}

.report-list-toggle li {
    margin-right: 10px;
}


/* Filter List */
ul.filter-list { list-style-type:none; position:relative; }
ul.filter-list ul { list-style-type:none; padding:0 0 0 20px; }
ul.filter-list li { display:block; position:relative; }
ul.filter-list li a { display:block; position:relative; overflow:hidden; padding:3px 0 3px 20px; margin-bottom:3px; }

ul.filter-list li a.selected {
    background:#dbdbdb url("../images/icon_sprite-2.png") -22px -103px no-repeat; 
    z-index:120; color:#636363;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}

ul.filter-list li a span.item-swatch { 
	display: none;
}

ul.filter-list li a span.item-icon { display:block; float:left; margin-right:8px; height:16px; width:16px; }

ul.filter-list li a span.item-title { 
	display: block;
	padding: 4px 20px 0 30px;
	color: #6b6969;
	background: url(../images/filters/alarma1.png) no-repeat scroll 0 0;
	height: 30px;
	margin: 0 0 3px 0;
}

ul.filter-list li a#filter_link_cat_1 span.item-title { 
	background: url(../images/filters/alarma2.png) no-repeat scroll 0 0;
}

ul.filter-list li a#filter_link_cat_2 span.item-title { 
	background: url(../images/filters/alarma3.png) no-repeat scroll 0 0;
}

ul.filter-list li a#filter_link_cat_3 span.item-title { 
	background: url(../images/filters/alarma4.png) no-repeat scroll 0 0;
}

ul.filter-list li a#filter_link_cat_4 span.item-title { 
	background: url(../images/filters/alarma5.png) no-repeat scroll 0 0;
}


ul.filter-list li a span.item-count {
    display:block; 
    padding:1px 3px; 
    position:absolute; 
    right:0;
    top:4px;
    background:#dbdbdb;
    color: #6b6969;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.filter-list li li { position:relative; }

ul.filter-list li a.btn-cancel { 
    position:absolute; 
    left:0; 
    overflow:hidden; 
    height:25px;
    width:20px; 
    text-indent:-23423px;
    background:transparent url("../images/icon_sprite-2.png") -22px -103px no-repeat;
    z-index:120;
}

/* For child categories because nested UL/LIs are difficult in this case */
li.report-listing-category-child { padding-left:20px; }

/* Filter Controls */    
#filter-controls    { position:relative; padding:15px; margin-top:-2px; }
.expected-results {  }

a.filter-button    { 
    color:#fff;
    display:inline-block;
    text-transform:uppercase;
    padding:5px 8px;
    font-weight:bold;
    background:color("red", "base");
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.filter-button:hover { text-decoration:none; background:#707070;  }

.report-stats-container {display: none;}


/* Icons */
/* things */
.ic-sms { background:transparent url(../images/icons/mobile-phone.png) no-repeat; }
.ic-email { background:transparent url(../images/icons/mail.png) no-repeat; }
.ic-rss { background:transparent url(../images/icons/social-rss.png) no-repeat; }
.ic-webform { background:transparent url(../images/icons/application-form.png) no-repeat; }
.ic-photos { background:transparent url(../images/icons/images.png) no-repeat; }
.ic-videos { background:transparent url(../images/icons/films.png) no-repeat; }
.ic-news { background:transparent url(../images/icons/newspapers.png) no-repeat; }
.ic-verified { background:transparent url(../images/icons/tick-button.png) no-repeat; }
.ic-unverified { background:transparent url(../images/icons/cross-button.png) no-repeat; }

/* social */
.ic-twitter { background:transparent url(../images/icons/twitter.png) no-repeat; }
.ic-facebook { background:transparent url(../images/icons/facebook.png) no-repeat; }
.ic-youtube { background:transparent url(../images/icons/youtube.png) no-repeat; }
.ic-foursquare { background:transparent url(../images/icons/foursquare.png) no-repeat; }        
.ic-meetup { background:transparent url(../images/icons/meetup.png) no-repeat; }
.ic-posterous { background:transparent url(../images/icons/posterous.png) no-repeat; }
.ic-reddit { background:transparent url(../images/icons/reddit.png) no-repeat; }
.ic-tumblr { background:transparent url(../images/icons/tumblr.png) no-repeat; }
.ic-yelp { background:transparent url(../images/icons/yelp.png) no-repeat; }
.ic-linkedin { background:transparent url(../images/icons/linkedin.png) no-repeat; }
.ic-stumbleupon { background:transparent url(../images/icons/stumbleupon.png) no-repeat; }
.ic-technorati { background:transparent url(../images/icons/technorati.png) no-repeat; }
.ic-vimeo { background:transparent url(../images/icons/vimeo.png) no-repeat; }
    
#accordion .ui-accordion-header a.hide { display:none; }

.ui-datepicker { display:none; } /* fixes bug where an empty datepicker div was showing up on the bottom of the reports page */

.badge {
    float:left;
    width:100px;
    text-align:center;
    background-color:#E9E9E9;
    padding:5px;
    margin:0px 5px;
}


.ui-accordion .ui-accordion-header{
    border: 0;
    background: none;
    font-size: 16px;
    color: #FF5139;
    border-bottom: 1px solid #FF5139;
    border-radius: 0;
}
#accordion .ui-state-active a.f-title{
      color: #3E3E3E;
}
#accordion .ui-accordion .ui-accordion-header a{
    padding: 0.5em 2.2em 0.5em 0;
    font-weight: bold;
    font-size: 14px;
    color: #FF5139 !important;
}
#accordion .ui-accordion-header .small-link-button{
	color: #6b6969;
	font-size: 10px;
	padding-top: 11px;
}

#accordion ul.filter-list{
  padding-top: 20px;
  padding-bottom: 5px;
}
#accordion ul.filter-list li a{
  padding: 2px 0 3px 11px;
}

#accordion .ui-state-active a.f-title {
    color: #FF5139;
}

.ui-accordion .ui-accordion-content{
	padding: 0 8px 0 0 !important;
	font-size: 11px;
	border: 0;
	background: white;
	border-top: 1px solid #FF5139;
}

@media (max-width: 580px) {
    #reports-box {
        tr {
            td {
                width: 100%;
                display: block;
                &:nth-child(3) {
                    width: 50%;
                    float: left;
                }

                &:last-child {
                    width: 50%;
                    float: right;
                    ul {
                        float: right;
                    }
                }
            }
        }
    }
}