.lista-incidencias {
    margin-top: 65px;
}

.lista-incidencias span.badge.new:after {
    content: "";
}

.report-stats-container {
    padding-top: 30px;
}

#rb_list-view p, .r_description {
    margin-bottom: 10px;
}

.link-toggle li {
    display: inline-block;
}

.report-list-toggle li {
    margin-right: 10px;
}