.emergencia-menu {
  border-bottom: solid 1px #979797;
    
    nav {
      height: 100%;
      line-height: 100px;
      .nav-wrapper{
        padding: 0 0;
      }
    }

    .row {
        box-shadow: none;
        margin-bottom: 0;
    }
		
		.brand-logo {
			left: 0%;
			transform: translateX(0%);	

			@media (min-width: 992px) {
				left: 0%;
				transform: translateX(0%);
			}			
		}

    .brand-logo img {
        max-width: 264px;
        margin-left: 15px;
        vertical-align: middle;
    }

    a {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;

        &:hover {
            background-color: color("grey", "lighten-4");
            text-decoration: none;
            color: $navbar-font-color;
        }
    }

    a.brand-logo:hover {
        background-color: transparent;
    }

    a.btn {
			background-color: #fff;
			border: solid 1px #cccccc;
			box-shadow: none;
			padding-left: 14px;
			padding-right: 14px;
			overflow: visible;
			color: #222224!important;

			&:hover {
			    background-color: color("grey", "lighten-4");
			}

			&:before {
			    content: "#Unasolafuerza";
			    color: #ff5139;
			    position: absolute;
			    top: -31px;
			    text-transform: initial;
			    width: 100%;
			    text-align: center;
			    margin-left: -14px;
			}
    }

    a.btn img {
        vertical-align: middle;
        margin-right: 5px;
        max-height: 22px;
    }

    ul {
      li {
				&:last-child a {
				  margin-right: 0;
				}
        }
    }

    .main-nav__line {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			background: #00BFE1;
			height: 2px;
			-webkit-transition: all .5s;
			transition: all .5s;
			@media (min-width: 992px) {
				display: block;
			}
		}
    
    //- RESPONSIVE

    .button-collapse {
        height: 95px;
        float: right;
        margin: 0;
    }

    #mobile-demo {
			display: none;
			position: relative;
			width: 100%;
			clear: both;
			line-height: 50px;
			background: white;
			left: 0;
			z-index: 3;

			li {
			    width: 100%;
			    border-bottom: 1px solid black;
			    float: none;
			    &:last-child {
			        border-bottom: 0px solid black;
			    }
			    
			    a {
			      line-height: 50px;
						.heart-menu-mobile {
							display: none;
						}

						&:hover {
					    .heart-menu-desktop {
					    	display: none;
					    }

					    .heart-menu-mobile {
					    	display: inline-block;
					    }
						}
			    }
			    
			    .btn {
			        margin: 0 0 0 143px;
			        line-height: 30px;
			        &:before {
								content: "#Unasolafuerza";
								color: #ff5139;
								position: absolute;
								top: 0;
								left: -150px;
								text-transform: initial;
								width: 100%;
								text-align: center;
								margin-left: -14px;
			        }
			    }
			}
    }


}

@media (max-width: 1350px) {
  .emergencia-menu {
    a {
        font-size: 13px;
        padding: 0 8px;
    }

    a.btn {
        margin: 0 0 0 15px;
    }

    .brand-logo img {
        max-width: 220px;
        margin-left: 0;
        margin-top: -6px;
    }

  }
}

@media (max-width: 1130px) {
    .brand-logo img {
        max-width: 150px!important;
        margin-left: 0;
        margin-top: -6px;
    }

    .emergencia-menu {
	    a {
	        font-size: 12px;
	        padding: 0 8px;
	    }
	  }
}

@media (max-width: 992px) {
	.brand-logo img {
	    max-width: 220px!important;
	}

	.emergencia-menu {
	  a {
			font-size: 13px;
			padding: 0 8px;
	  }

		.brand-logo {
			padding-left: 15px;
		}

	 	.row {
			margin: 0 0 0 0;
		}

		.container {
			width: 100%;
		}

		.button-collapse {
			width: 30px;
			height: 25px;
			top: 10px;
			right: 20px;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			background: none;
			border: 0;
			outline: 0;
			padding: 0 0 0 0;
			margin: 26px 0px 48px 20px;
			&:hover {
				background: white;
			}
			.main-nav__button__icon {
				display: block;
				position: absolute;
				height: 5px;
				width: 100%;
				background: black;
				opacity: 1;
				right: 0;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}

			.main-nav__button__icon:nth-child(1) {
				top: 0px;
			}

			.main-nav__button__icon:nth-child(2) {
				top: 10px;
				width: 70%;
			}

			.main-nav__button__icon:nth-child(3) {
				top: 10px;
				width: 70%;
			}

			.main-nav__button__icon:nth-child(4) {
				top: 20px;
				width: 90%;
			}
		}

		.main-nav__button--open .main-nav__button__icon:nth-child(1) {
			top: 10px;
			width: 0%;
			right: 50%;
		}

		.main-nav__button--open .main-nav__button__icon:nth-child(2) {
		-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			width: 100%;
		}

		.main-nav__button--open .main-nav__button__icon:nth-child(3) {
		-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			width: 100%;
		}

		.main-nav__button--open .main-nav__button__icon:nth-child(4) {
			top: 10px;
			width: 0%;
			right: 50%;
		}

	}

		#mobile-demo {
			li {
				a {
					padding: 0 15px;
					transition: background-color .0s;
					&:hover {
						background: #ff5139;
						background-color: #ff5139;
						color: white !important;
					}
				}
			}
		}


	.waves-effect {
		margin: 0 0 0 0 !important;
		line-height: 36px !important;
		border: 0px solid transparent !important;
		margin: 0;
		text-align: left;
		width: 100%;
		&:hover {
			margin: 0 0 0 0 !important;
			text-decoration: none !important;
			display: block;
			border-radius: 0;
			line-height: 50px !important;
			border: 0px solid #ff5139;
			height: 50px;
			&:before {
				color: white !important;
				text-align: left !important;
				padding-left: 31px;
			}
		}

		&:before {
			right: -160px !important;
			left: inherit !important;
			text-align: left !important;
			padding-left: 31px;
		}
	}
}

@media (max-width: 370px) {
	.waves-effect {
		&:before {
			right: -145px !important;
			left: inherit !important;
		}
	}
}