//sizes
$screen-xs-min: 480px default;
$screen-sm-min: 768px default;
$screen-md-min: 992px default;
$screen-lg-min: 1200px default;

$screen-xs-max: 479px default;
$screen-sm-max: 767px default;
$screen-md-max: 991px default;
$screen-lg-max: 1199px default;